@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 245, 245, 245;
  --background-end-rgb: 230, 235, 240;
  --foreground-rgb: 17, 24, 39;

  --primary-blue-rgb: 37, 99, 235;
  --primary-red-rgb: 220, 38, 38;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
